/*

Theme Name:		LNU Main
Description:	A theme for lnu.edu.ua
Version:			1.0.2
Author:			Відділ інформаційного забезпечення
Author URI:		http://dis.lnu.edu.ua
Domain Path:	/lib/languages
Text Domain:	lnu

*/


/* = Document Setup
---------------------------------------------------- */

* {
    border: 0;
    margin: 0;
    padding: 0;
    background: transparent no-repeat left top;
    word-wrap: break-word;
    outline: none;
}

body {
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

h1 {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #002561;
}

h2 {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 20px;
    font-weight: 700;
}

h3 {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 15px;
    font-weight: 700;
}

h4 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
    font-weight: 400;
}

h5 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 5px;
    font-weight: 400;
}

h6 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
    font-weight: 400;
}

a, a:active, a:focus {
    text-decoration: none;
    color: #002561;
}

a:hover {
    text-decoration: none;
    color: #5674a5;
}

select, textarea, input[type="tel"], input[type="text"], input[type="email"], input[type="number"], input[type="search"], input[type="password"] {
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
    font-size: 14px;
    color: #333;
}

input[type="tel"], input[type="text"], input[type="email"], input[type="number"], input[type="search"], input[type="password"] {
    padding: 9px 10px;
    height: 40px;
}

select {
    padding: 9px 10px;
    height: 40px;
}

textarea {
    padding: 9px 10px;
    resize: none;
}

select.error, textarea.error, input[type="tel"].error, input[type="text"].error, input[type="email"].error, input[type="number"].error, input[type="search"].error, input[type="password"].error {
    border-color: #e60000;
}

input[type="radio"], input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin: 0 5px 0 0;
    vertical-align: middle;
    cursor: pointer;
}

input[type="submit"] {
    height: 30px;
    padding: 0 10px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    -webkit-appearance: none;
    background-color: #002561;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    line-height: 30px;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
}

input[type="submit"]:hover {
    color: #9eb0cc;
}

input:-ms-input-placeholder {
    font-style: italic;
    color: #ccc;
}

input::-webkit-input-placeholder {
    font-style: italic;
    color: #ccc;
}

input:-moz-placeholder {
    font-style: italic;
    color: #ccc;
    opacity: 1;
}

input::-moz-placeholder {
    font-style: italic;
    color: #ccc;
    opacity: 1;
}

textarea:-ms-input-placeholder {
    font-style: italic;
    color: #ccc;
}

textarea::-webkit-input-placeholder {
    font-style: italic;
    color: #ccc;
}

textarea:-moz-placeholder {
    font-style: italic;
    color: #ccc;
    opacity: 1;
}

textarea::-moz-placeholder {
    font-style: italic;
    color: #ccc;
    opacity: 1;
}


/* = Core Classes
---------------------------------------------------- */

.wrap {
    padding: 0 20px;
    max-width: 1180px;
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.alignleft {
    margin: 3px 20px 10px 0;
    float: left;
    z-index: 5;
}

.aligncenter {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.alignright {
    margin: 3px 0 10px 20px;
    float: right;
    z-index: 5;
}

.textleft {
    text-align: left;
}

.textcenter {
    text-align: center;
}

.textright {
    text-align: right;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
    font-size: 1px;
    height: 0;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
    visibility: hidden;
    line-height: 0;
    height: 0;
}


/* = Site Header
---------------------------------------------------- */

.site-header {
    z-index: 100;
}

.site-header-top {
    background-color: #fff;
}

.site-header-main {
    background-color: #002561;
}

.site-header-inner {
    position: relative;
    padding: 1px 20px;
}

.site-header-top .site-header-inner {
    height: 56px;
}


/* personal navigation */

.personal-navigation {
    text-align: center;
    margin: 12px 90px;
}

.personal-navigation ul {
    font-size: 0;
}

.personal-navigation li {
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0 6px;
}

.personal-navigation li a {
    padding: 3px 10px;
    display: block;
}

.personal-navigation li.current-cat a, .personal-navigation li.current_page_item a, .personal-navigation li.current-menu-item a, .personal-navigation li.current_page_parent a, .personal-navigation li.current-menu-parent a, .personal-navigation li.current-page-ancestor a, .personal-navigation li.current-menu-ancestor a {
    border-radius: 15px;
    background-color: #002561;
    color: #fff;
}


/* languages */

.language-switcher li {
    list-style: none;
}

.language-switcher li > a, .language-switcher li > span {
    display: block;
}

.language-switcher.desktop {
    position: absolute;
    right: 20px;
    top: 12px;
}

.language-switcher.desktop li {
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    float: left;
}

.language-switcher.desktop li.current {
    padding: 7px;
    color: #999;
}

.language-switcher.desktop li a {
    padding: 7px;
    color: #ccc;
}

.language-switcher.mobile {
    display: none;
    float: right;
}

.language-switcher.mobile div {
    background-color: #002561;
    position: absolute;
    display: none;
    z-index: 20;
    right: 0;
    left: 0;
    top: 0;
}

.language-switcher.mobile ul {
    margin-right: 45px;
}

.language-switcher.mobile li {
    line-height: 16px;
    font-size: 17px;
}

.language-switcher.mobile li.current {
    padding: 22px 0;
    color: #304d7e;
}

.language-switcher.mobile li a {
    padding: 22px 0;
    color: #fefefe;
}

.language-switcher.mobile li span {
    width: 45px;
    height: 16px;
    margin-right: 15px;
    text-align: center;
    display: block;
    float: left;
}

.language-switcher.mobile li.current span {
    border-right: 1px solid #304d7e;
}

.language-switcher.mobile li a span {
    border-right: 1px solid #f2f2f2;
}

.language-switcher.mobile .open {
    font-size: 24px;
    line-height: 30px;
    font-style: normal;
    text-transform: lowercase;
    text-align: center;
    margin-left: 15px;
    cursor: pointer;
    display: block;
    color: #fff;
}

.language-switcher.mobile .close {
    width: 30px;
    height: 30px;
    background-image: url(lib/images/slide-close.png);
    background-position: center;
    position: absolute;
    cursor: pointer;
    display: block;
    right: 7px;
    top: 15px;
}


/* social buttons */

.social-buttons li {
    list-style: none;
}

.social-buttons li a {
    display: block;
}

.social-buttons.desktop {
    position: absolute;
    left: 20px;
    top: 12px;
}

.social-buttons.desktop li {
    padding-right: 12px;
    position: relative;
    float: left;
}

.social-buttons.desktop li:after {
    width: 1px;
    height: 20px;
    background-color: #f2f2f2;
    position: absolute;
    content: "";
    right: 6px;
    top: 5px;
}

.social-buttons.desktop li:last-child {
    padding-right: 0;
}

.social-buttons.desktop li:last-child:after {
    display: none;
}

.social-buttons.desktop li a {
    background-image: url(lib/images/social-buttons.png);
    height: 30px;
    width: 30px;
}

.social-buttons.desktop li.fb a {
    background-position: 0 0;
}

.social-buttons.desktop li.fb a:hover {
    background-position: 0 -31px;
}

.social-buttons.desktop li.tw a {
    background-position: -31px 0;
}

.social-buttons.desktop li.tw a:hover {
    background-position: -31px -31px;
}

.social-buttons.desktop li.gp a {
    background-position: -62px 0;
}

.social-buttons.desktop li.gp a:hover {
    background-position: -62px -31px;
}

.social-buttons.mobile {
    display: none;
    float: right;
}

.social-buttons.mobile div {
    background-color: #002561;
    position: absolute;
    display: none;
    z-index: 20;
    right: 0;
    left: 0;
    top: 0;
}

.social-buttons.mobile ul {
    margin-right: 45px;
}

.social-buttons.mobile li {
    line-height: 17px;
    font-size: 16px;
}

.social-buttons.mobile li a {
    padding: 22px 0;
    color: #fff;
}

.social-buttons.mobile li span {
    width: 45px;
    height: 16px;
    margin-right: 15px;
    border-right: 1px solid #f2f2f2;
    text-align: center;
    display: block;
    float: left;
}

.social-buttons.mobile li span i {
    background-image: url(lib/images/social-buttons.png);
    display: inline-block;
    height: 16px;
    width: 16px;
}

.social-buttons.mobile li.fb span i {
    background-position: -7px -69px;
}

.social-buttons.mobile li.tw span i {
    background-position: -38px -69px;
}

.social-buttons.mobile li.gp span i {
    background-position: -69px -69px;
}

.social-buttons.mobile .open {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    background-image: url(lib/images/social-icon.png);
    background-position: center;
    cursor: pointer;
    display: block;
}

.social-buttons.mobile .close {
    width: 30px;
    height: 30px;
    background-image: url(lib/images/slide-close.png);
    background-position: center;
    position: absolute;
    cursor: pointer;
    display: block;
    right: 7px;
    top: 15px;
}


/* site logo */

.site-logo {
    width: 0;
    height: 54px;
    padding-left: 238px;
    margin: 11px auto;
    overflow: hidden;
    display: block;
}

.site-logo.uk {
    background-image: url(lib/images/logos/uk/main.png);
}

.site-logo.en {
    background-image: url(lib/images/logos/en/main.png);
}


/* general navigation */

.general-navigation {
    position: absolute;
    display: none;
    z-index: 20;
    left: 0;
    top: 0;
}

.general-navigation ul {
    box-sizing: border-box;
    padding-bottom: 40px;
    padding-top: 75px;
    width: 400px;
}

.general-navigation ul.menu {
    background-color: #002561;
}

.general-navigation ul.sub-menu {
    position: absolute;
    display: none;
    left: 100%;
    top: 0;
}

.general-navigation li:hover > ul.sub-menu {
    display: block;
}

.general-navigation ul.level-2 {
    background-color: #17396f;
}

.general-navigation ul.level-3 {
    background-color: #304d7e;
}

.general-navigation ul li {
    list-style: none;
    display: block;
}

.general-navigation ul.menu > li {
    padding-right: 40px;
    padding-left: 60px;
}

.general-navigation ul.menu > li:hover {
    background-color: #17396f;
}

.general-navigation ul.menu > li.home {
    display: none;
}

.general-navigation ul.menu > li.border span {
    display: block;
    background-color: #17396f;
    margin: 12px 0;
    height: 1px;
}

.general-navigation ul.sub-menu li {
    padding: 0 40px;
}

.general-navigation ul.level-2 > li:hover {
    background-color: #304d7e;
}

.general-navigation ul.sub-menu li.parent {
    position: relative;
    display: none;
}

.general-navigation ul.level-2 li.parent {
    background-color: #002561;
}

.general-navigation ul.level-3 li.parent {
    background-color: #17396f;
}

.general-navigation li a {
    display: block;
    position: relative;
    color: #fefefe;
}

.general-navigation ul.menu li a {
    padding: 8px 20px;
    line-height: 24px;
    font-size: 20px;
}

.general-navigation ul.sub-menu li a {
    padding: 8px 20px;
    line-height: 24px;
    font-size: 18px;
}

.general-navigation ul.menu > li.current-cat > a, .general-navigation ul.menu > li.current_page_item > a, .general-navigation ul.menu > li.current-menu-item > a, .general-navigation ul.menu > li.current_page_parent > a, .general-navigation ul.menu > li.current-menu-parent > a, .general-navigation ul.menu > li.current-page-ancestor > a, .general-navigation ul.menu > li.current-menu-ancestor > a {
    color: #304d7e;
}

.general-navigation ul.level-2 > li.current-cat > a, .general-navigation ul.level-2 > li.current_page_item > a, .general-navigation ul.level-2 > li.current-menu-item > a, .general-navigation ul.level-2 > li.current_page_parent > a, .general-navigation ul.level-2 > li.current-menu-parent > a, .general-navigation ul.level-2 > li.current-page-ancestor > a, .general-navigation ul.level-2 > li.current-menu-ancestor > a {
    color: #304d7e;
}

.general-navigation ul.level-3 > li.current-cat > a, .general-navigation ul.level-3 > li.current_page_item > a, .general-navigation ul.level-3 > li.current-menu-item > a, .general-navigation ul.level-3 > li.current_page_parent > a, .general-navigation ul.level-3 > li.current-menu-parent > a, .general-navigation ul.level-3 > li.current-page-ancestor > a, .general-navigation ul.level-3 > li.current-menu-ancestor > a {
    color: #5674a5;
}

.general-navigation ul.menu > li:hover > a {
    text-decoration: underline;
    color: #5674a5;
}

.general-navigation ul.sub-menu > li:hover > a {
    text-decoration: underline;
    color: #5674a5;
}

.general-navigation ul i {
    width: 36px;
    height: 36px;
    background-image: url(lib/images/menu-t-icons.png);
    position: absolute;
    cursor: pointer;
    z-index: 5;
}

.general-navigation ul i.back {
    display: block;
    left: 14px;
    top: 12px;
}

.general-navigation ul.level-2 i.back {
    background-position: 0 -37px;
}

.general-navigation ul.level-3 i.back {
    background-position: -37px -37px;
}

.general-navigation ul i.close {
    display: block;
}

.general-navigation ul.level-1 i.close {
    background-position: 0 -74px;
    left: 14px;
    top: 78px;
}

.general-navigation ul.level-2 i.close, .general-navigation ul.level-3 i.close {
    left: auto;
    right: 12px;
    top: 15px;
}

.general-navigation ul.level-2 i.close {
    background-position: 0 -74px;
}

.general-navigation ul.level-3 i.close {
    background-position: -37px -74px;
}

.general-navigation ul i.show-sub-menu {
    display: none;
    right: -3px;
    top: 2px;
}

.general-navigation ul.level-1 i.show-sub-menu {
    background-position: 0 0;
}

.general-navigation ul.level-2 i.show-sub-menu {
    background-position: -37px 0;
}


/* navigation button */

.navigation-btn {
    width: 24px;
    height: 20px;
    padding: 6px 4px;
    position: absolute;
    cursor: pointer;
    display: block;
    z-index: 10;
    left: 16px;
    top: 22px;
}

.navigation-btn span {
    height: 2px;
    margin-top: 7px;
    background-color: #fff;
    display: block;
}

.navigation-btn span:first-child {
    margin-top: 0;
}

.navigation-btn:hover span {
    background-color: #9eb0cc;
}


/* search */

.search-form {
    width: 0;
    height: 30px;
    padding-right: 30px;
    position: absolute;
    right: 15px;
    top: 23px;
}

.search-form.active {
    width: 200px;
    padding-left: 15px;
    padding-right: 40px;
    background-color: #335181;
    border-radius: 15px;
    right: 20px;
}

.search-form .input {
    width: 100%;
    height: 30px;
    padding: 4px 0;
    background: none;
    color: #9eb0cc;
}

.search-form .input:-ms-input-placeholder {
    font-style: normal;
    color: #002561;
}

.search-form .input::-webkit-input-placeholder {
    font-style: normal;
    color: #002561;
}

.search-form .input:-moz-placeholder {
    font-style: normal;
    color: #002561;
}

.search-form .input::-moz-placeholder {
    font-style: normal;
    color: #002561;
}

.search-form .submit {
    display: none;
}

.search-form .btn {
    width: 30px;
    height: 30px;
    background-image: url(lib/images/search-button.png);
    background-position: 0 5px;
    position: absolute;
    cursor: pointer;
    display: block;
    right: 5px;
    top: 0;
}

.search-form.active .btn {
    background-position: -62px 5px;
}

.search-form .btn:hover {
    background-position: -31px 5px;
}

.search-form .open {
    width: 30px;
    height: 30px;
    background-image: url(lib/images/search-icon.png);
    background-position: center;
    cursor: pointer;
    display: none;
}


/* noscript */

noscript div {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    color: #f00;
}


/* = Site Main
---------------------------------------------------- */

.site-main {
    z-index: 80;
}

.page.sidebar-left .page-inner {
    padding-left: 300px;
    position: relative;
}

.page.sidebar-right .page-inner {
    padding-right: 300px;
}

.page.default .main-column {
    padding: 0 20px 20px;
    background-color: #fff;
    display: block;
}

.page.sidebar-left .main-column {
    float: right;
}

.page.sidebar-right .main-column {
    float: left;
}

.page-inner .main-column {
    box-sizing: border-box;
    width: 100%;
}

.sidebar {
    width: 280px;
}

.page.sidebar-left .sidebar {
    margin-left: -300px;
    float: left;
}

.page.sidebar-right .sidebar {
    margin-right: -300px;
    float: right;
}


/* = Breadcrumbs
---------------------------------------------------- */

.breadcrumbs {
    font-size: 12px;
    line-height: 18px;
    background-color: #fff;
    position: relative;
    margin-bottom: 15px;
    margin-top: 10px;
}

.breadcrumbs .link {
    color: #fff;
    box-sizing: border-box;
    padding: 8px 14px 8px 20px;
    position: relative;
    display: block;
    float: left;
}

.breadcrumbs .link.level-0 {
    background-color: #002561;
    z-index: 5;
}

.breadcrumbs .link.level-1 {
    background-color: #5674a5;
    z-index: 4;
}

.breadcrumbs .link.level-2 {
    background-color: #9eb0cc;
    z-index: 3;
}

.breadcrumbs .link.level-3 {
    background-color: #b6c5d9;
    z-index: 2;
}

.breadcrumbs .link.level-4 {
    background-color: #d1d9e5;
    z-index: 1;
}

.breadcrumbs.links-2 .link.level-1 {
    max-width: 40%;
}

.breadcrumbs.links-3 .link.level-1, .breadcrumbs.links-3 .link.level-2 {
    max-width: 28%;
}

.breadcrumbs.links-4 .link.level-1, .breadcrumbs.links-4 .link.level-2, .breadcrumbs.links-4 .link.level-3 {
    max-width: 20%;
}

.breadcrumbs .link i {
    border-width: 17px 0 17px 8px;
    border-style: solid;
    position: absolute;
    left: 100%;
    bottom: 0;
    top: 0;
}

.breadcrumbs .link.level-0 i {
    border-color: transparent transparent transparent #002561;
}

.breadcrumbs .link.level-1 i {
    border-color: transparent transparent transparent #5674a5;
}

.breadcrumbs .link.level-2 i {
    border-color: transparent transparent transparent #9eb0cc;
}

.breadcrumbs .link.level-3 i {
    border-color: transparent transparent transparent #b6c5d9;
}

.breadcrumbs .link.level-4 i {
    border-color: transparent transparent transparent #d1d9e5;
}

.breadcrumbs .current {
    padding: 8px 20px;
    overflow: hidden;
    display: block;
    color: #002561;
}

.breadcrumbs .outer {
    display: table;
}

.breadcrumbs .inner {
    vertical-align: middle;
    display: table-cell;
}


/* = Page Header
---------------------------------------------------- */

.page-header {
    padding-top: 23px;
}

.page-header .page-title {
    margin-bottom: 30px;
}

.page.news-landing .page-header {
    position: relative;
}

.page.news-landing .page-header .page-title {
    padding-right: 150px;
}

.page.news-landing .page-header .link {
    font-size: 22px;
    line-height: 22px;
    font-weight: 300;
    border-bottom: 1px solid #002561;
    position: absolute;
    top: 31px;
    right: 0;
}

.page.news-landing .page-header .link:hover {
    border-bottom-color: #5674a5;
}

.page-header .page-meta {
    margin-bottom: 20px;
}

.page-header .page-date {
    font-size: 12px;
    line-height: 26px;
    display: inline-block;
    margin-bottom: 12px;
    font-weight: 300;
    color: #999;
}

.page-header .share-buttons {
    float: right;
}


/* = Page Content
---------------------------------------------------- */

.page-content p {
    margin-bottom: 16px;
}

.page-content ol, .page-content ul {
    margin-bottom: 16px;
}

.page-content li ol, .page-content li ul {
    margin-bottom: 10px;
    margin-top: 4px;
}

.page-content li {
    margin-bottom: 2px;
    padding-right: 25px;
    position: relative;
    left: 25px;
}

.page-content blockquote {
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    border-left: 4px solid #ccc;
    padding-left: 20px;
    margin: 32px 0;
}

.page-content blockquote p {
    margin-bottom: 8px;
}

.page-content img {
    max-width: 100%;
    height: auto;
}

.page-content iframe {
    max-width: 100%;
}

.page-content hr {
    margin: 18px 0;
}


/* tables */

.page-content table {
    border-collapse: collapse;
}

.page-content table caption {
    display: none;
}

.page-content table th, .page-content table td {
    padding: 5px 10px;
}

.page-content table tfoot th {
    border-top: none;
}

.page-content table.style-one thead th, .page-content table.style-one tfoot th {
    background-color: #002561;
    color: #fff;
}

.page-content table.style-one th:hover, .page-content table.style-one th.sorting_asc, .page-content table.style-one th.sorting_desc {
    background-color: #5674a5;
}

.page-content table.style-one tbody td {
    border-bottom: 1px solid #d9d9d9;
    background-color: #fff;
    color: #3c3c3c;
}

.page-content table.style-one tbody tr.even td {
    background-color: #f2f2f2;
}

.page-content table.style-one tbody.row-hover tr:hover td {
    background-color: #e5e5e5;
}

.page-content table.style-two {
    border: 1px solid #d9d9d9;
}

.page-content table.style-two thead th {
    border-width: 1px;
    border-style: solid;
    border-color: #595959 #595959 #000;
    background-color: #404040;
    color: #fff;
}

.page-content table.style-two tfoot th {
    background-color: #d9d9d9;
    color: #222;
}

.page-content table.style-two tbody td {
    border: 1px dashed #e5e5e5;
    color: #fff;
}

.page-content table.style-two tbody td {
    background-color: #fff;
    color: #3c3c3c;
}

.page-content table.style-two tbody tr.even td {
    background-color: #f2f2f2;
}

.page-content table.style-two tbody.row-hover tr:hover td {
    background-color: #e5e5e5;
}

.page-content table.style-three {
    border: 1px solid #162c40;
}

.page-content table.style-three thead th {
    border: 1px solid #284d73;
    background-color: #162c40;
    color: #fff;
}

.page-content table.style-three tfoot th {
    background-color: #162c40;
    color: #fff;
}

.page-content table.style-three tbody td {
    border: 1px dashed #366999;
    background-color: #284d73;
    color: #fff;
}

.page-content table.style-three tbody tr.even td {
    background-color: #224161;
}

.page-content table.style-three tbody.row-hover tr:hover td {
    background-color: #306090;
}


/* tablepress */

.page-content .dataTables_wrapper {
    margin-bottom: 25px;
}

.page-content .tablepress-scroll-wrapper {
    margin-bottom: 15px;
}

.page-content .tablepress-scroll-wrapper .dataTables_wrapper {
    margin-bottom: 10px;
}

.page-content .dataTables_length, .page-content .dataTables_filter {
    margin-bottom: 10px;
}

.page-content .dataTables_length select, .page-content .dataTables_filter input {
    height: 34px;
    border: 1px solid #999;
    border-radius: 0;
    padding: 5px;
}

.page-content .dataTables_info, .page-content .dataTables_paginate {
    margin-top: 10px;
}

.page-content .dataTables_paginate.paging_simple {
    padding: 0;
}

.page-content .paging_simple .paginate_button.next:after, .page-content .paging_simple .paginate_button.previous:before {
    display: none;
}

.page-content .paging_simple .paginate_button.next, .page-content .paging_simple .paginate_button.previous {
    color: #002561 !important;
    text-decoration: none;
}

.page-content .paging_simple .paginate_button.next:hover, .page-content .paging_simple .paginate_button.previous:hover {
    color: #5674a5 !important;
}

.page-content .paging_simple .paginate_button.next.disabled, .page-content .paging_simple .paginate_button.previous.disabled {
    color: #999 !important;
}


/* wp-caption */

.page-content .wp-caption {
    width: auto !important;
    margin: 0 -30px 25px;
}

.page-content .wp-caption img {
    display: block;
}

.page-content .wp-caption-text {
    margin: 12px 30px 0;
    font-style: italic;
    text-align: right;
    font-weight: 300;
    color: #ccc;
}


/* share buttons */

.share-buttons {
    text-align: right;
    font-size: 0;
}

.page-content .share-buttons {
    margin-top: 25px;
}

.share-buttons .btn {
    height: 24px;
    margin-left: 15px;
    padding-left: 44px;
    border-radius: 4px;
    border: 1px solid #cfcfcf;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    color: #999;
}

.share-buttons .btn:first-child {
    margin-left: 0;
}

.share-buttons .btn span {
    display: block;
}

.share-buttons .btn .icon {
    padding: 0 8px;
    position: absolute;
    left: 0;
    top: 0;
}

.share-buttons .btn .icon i {
    width: 28px;
    height: 24px;
    background-image: url(lib/images/share-buttons.png);
    display: block;
}

.share-buttons .btn.fb .icon {
    background-color: #3c5a96;
}

.share-buttons .btn.tw .icon {
    background-color: #59adeb;
}

.share-buttons .btn.tw .icon i {
    background-position: 0 -25px;
}

.share-buttons .btn.gp .icon {
    background-color: #bd4c3a;
}

.share-buttons .btn.gp .icon i {
    background-position: 0 -50px;
}

.share-buttons .btn .count {
    min-width: 44px;
}


/* = Front Page
---------------------------------------------------- */


/* slider */

.home-slider {
    z-index: 90;
}

.home-slider .custom.tparrows {
    background: transparent;
}

.home-slider .custom.tparrows:before {
    display: none;
}

.home-slider .custom.tparrows:after {
    width: 22px;
    height: 40px;
    margin: 0 9px;
    background: url(lib/images/slider-arrows.png);
    display: block;
    content: "";
}

.home-slider .custom.tp-leftarrow:after {
    background-position: 0 0;
}

.home-slider .custom.tp-leftarrow:hover:after {
    background-position: 0 -41px;
}

.home-slider .custom.tp-rightarrow:after {
    background-position: -23px 0;
}

.home-slider .custom.tp-rightarrow:hover:after {
    background-position: -23px -41px;
}

.home-slider .custom .tp-bullet {
    background: transparent;
    height: 12px;
    width: 12px;
}

.home-slider .custom .tp-bullet:after {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: #8092b1;
    position: absolute;
    display: block;
    content: "";
    left: 3px;
    top: 3px;
}

.home-slider .custom .tp-bullet.selected:after {
    background-color: #fff;
}


/* main content */

.page.home {
    margin-top: -60px;
}


/* testimonials */

.home-testimonials {
    background-color: #fff;
    position: relative;
}

.home-testimonials ul {
    position: relative;
}

.home-testimonials li {
    min-height: 230px;
    padding: 45px 260px 35px 35px;
    box-sizing: border-box;
    position: relative;
    list-style: none;
    float: left;
}

.home-testimonials .quotes {
    width: 33px;
    height: 25px;
    background-image: url(lib/images/testimonial-quotes.png);
    position: absolute;
    display: block;
    left: 1px;
    top: 20px;
}

.home-testimonials .text {
    font-weight: 900;
    margin-bottom: 15px;
    line-height: 36px;
    font-size: 28px;
}

.home-testimonials .author, .home-testimonials .position {
    font-weight: 700;
    line-height: 18px;
    font-size: 14px;
}

.home-testimonials .position {
    color: #b2b2b2;
}

.home-testimonials .photo {
    width: 260px;
    height: 220px;
    background-position: center;
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
}

.home-testimonials .arrow {
    width: 22px;
    height: 40px;
    margin-top: -20px;
    background-image: url(lib/images/slider-arrows.png);
    transition: all .5s;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    display: block;
    opacity: 0;
    top: 50%;
}

.home-testimonials:hover .arrow {
    opacity: 1;
}

.home-testimonials .arrow.prev {
    background-position: 0 -41px;
    left: 60px;
}

.home-testimonials .arrow.next {
    background-position: -23px -41px;
    right: 60px;
}


/* = News Landing Page
---------------------------------------------------- */

.page.news-landing .vc_row:last-child {
    margin-bottom: 0;
}


/* = News Listing Page
---------------------------------------------------- */

.page.news-listing .post {
    background-color: #fff;
    margin-top: 20px;
}

.page.news-listing .post.with-image {
    min-height: 210px;
    padding: 20px 20px 5px 300px;
    box-sizing: border-box;
    position: relative;
}

.page.news-listing .post.no-image {
    padding: 20px 20px 5px;
}

.page.news-listing .post:first-child {
    margin-top: 0;
}

.page.news-listing .post .post-date {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 12px;
    font-weight: 300;
    color: #999;
}

.page.news-listing .post.with-image .post-title {
    line-height: 19px;
    font-size: 16px;
}

.page.news-listing .post.no-image .post-title {
    line-height: 21px;
    font-size: 18px;
}

.page.news-listing .post .post-thumb {
    width: 280px;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    top: 0;
}

.page.news-listing .post .post-excerpt {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 20px;
    font-weight: 300;
}


/* = Single News
---------------------------------------------------- */

.page.news .post-thumb {
    margin: 0 -30px 30px;
    position: relative;
}

.page.news .post-thumb img {
    display: block;
    width: 100%;
}

.page.news .post-thumb span {
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.page.news .post-author {
    margin-bottom: 16px;
    margin-top: 30px;
}

.page.news .post-author span {
    font-weight: 700;
    display: block;
}

.page.news .post-gallery {
    margin-bottom: 15px;
    margin-top: 30px;
}

.page.news .post-gallery-images {
    overflow: hidden;
    margin: 0 -30px;
}

.page.news .post-gallery-images-inner {
    margin: 0 -15px;
}

.page.news .post-gallery-images li {
    width: 33.33%;
    padding: 0 15px;
    box-sizing: border-box;
    list-style: none;
    display: block;
    float: left;
    left: 0;
}

.page.news .post-gallery-images li a {
    position: relative;
    display: block;
}

.page.news .post-gallery-images li img {
    display: block;
    width: 100%;
}

.page.news .post-gallery-images li span {
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.page.news .post-gallery-meta {
    margin-top: 10px;
    font-weight: 300;
    color: #999;
}

.page.news .post-gallery-meta span {
    float: left;
}

.page.news .post-gallery-meta a {
    text-decoration: underline;
    color: inherit;
    float: right;
}

.page.news .post-gallery-meta a:hover {
    color: #9eb0cc;
}

.page.news .post-video {
    margin-bottom: 18px;
}

.page.news .post-video h4 {
    margin-bottom: 8px;
    font-weight: bold;
}

.page.news .wp-video br {
    display: none;
}

.page.news .mejs-container .mejs-inner {
    position: static;
}


/* = Galleries Page
---------------------------------------------------- */

.page.galleries .galleries-list {
    margin: 0 -10px;
}

.page.galleries .gallery {
    width: 33.33%;
    box-sizing: border-box;
    padding: 10px;
}

.page.galleries .gallery .thumb {
    position: relative;
    display: block;
}

.page.galleries .gallery .thumb img {
    display: block;
    width: 100%;
}

.page.galleries .gallery .thumb span {
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.page.galleries .gallery .text {
    background-color: #fff;
    padding: 35px 20px;
}

.page.galleries .gallery .date {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 15px;
    font-weight: 300;
    color: #999;
}

.page.galleries .gallery .title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0;
}


/* = Single Gallery
---------------------------------------------------- */

.page.gallery .images-list {
    margin: 0 -10px;
}

.page.gallery .images-list li {
    width: 33.33%;
    padding: 10px;
    margin-bottom: 0;
    box-sizing: border-box;
    list-style: none;
    display: block;
    float: left;
    left: 0;
}

.page.gallery .images-list li:nth-child(3n+1) {
    clear: left;
}

.page.gallery .images-list li a {
    position: relative;
    display: block;
}

.page.gallery .images-list li img {
    display: block;
    width: 100%;
}

.page.gallery .images-list li span {
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.page.gallery .images-list li em {
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    margin-bottom: -2px;
    padding-top: 7px;
    display: block;
}

.page.gallery .gallery-meta {
    margin-top: 20px;
    margin-bottom: 16px;
    line-height: 22px;
    font-weight: 300;
    color: #999;
}

.page.gallery .gallery-meta span {
    display: block;
}


/* = Videos Page
---------------------------------------------------- */

.page.videos .videos-list {
    margin: 0 -10px;
}

.page.videos .video {
    width: 33.33%;
    box-sizing: border-box;
    padding: 10px;
}

.page.videos .video .thumb {
    position: relative;
    display: block;
}

.page.videos .video .thumb img {
    display: block;
    width: 100%;
}

.page.videos .video .thumb span {
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.page.videos .video .text {
    background-color: #fff;
    padding: 35px 20px;
}

.page.videos .video .date {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 15px;
    font-weight: 300;
    color: #999;
}

.page.videos .video .title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0;
}


/* = Single Video
---------------------------------------------------- */

.page.video .wp-video br {
    display: none;
}

.page.video .mejs-container .mejs-inner {
    position: static;
}

.page.video .mejs-controls .mejs-offscreen {
    display: none;
}


/* = Structural Units Page
---------------------------------------------------- */


/* filters */

.page.structural-units .filters {
    font-size: 0;
}

.page.structural-units .filters li {
    margin-right: 2px;
    padding-right: 0;
    vertical-align: middle;
    display: inline-block;
    list-style: none;
    font-size: 14px;
    left: 0;
}

.page.structural-units .filters li.arrow {
    padding: 5px 6px;
    height: 14px;
    width: 20px;
}

.page.structural-units .filters li.arrow.active {
    cursor: pointer;
}

.page.structural-units .filters li.arrow i {
    display: block;
    background-image: url(lib/images/pagination-arrows.png);
    height: 14px;
    width: 20px;
}

.page.structural-units .filters li.arrow.l.active i {
    background-position: 0 0;
}

.page.structural-units .filters li.arrow.r.active i {
    background-position: -21px 0;
}

.page.structural-units .filters li.arrow.l.active:hover i {
    background-position: 0 -15px;
}

.page.structural-units .filters li.arrow.r.active:hover i {
    background-position: -21px -15px;
}

.page.structural-units .filters li.arrow.l.inactive i {
    background-position: 0 -30px;
}

.page.structural-units .filters li.arrow.r.inactive i {
    background-position: -21px -30px;
}

.page.structural-units .filters li.all {
    padding: 0 6px;
    text-decoration: underline;
    cursor: pointer;
    color: #002561;
}

.page.structural-units .filters li.all:hover {
    background-color: #9eb0cc;
    border-radius: 2px;
}

.page.structural-units .filters li.all.current {
    background-color: #002561;
    border-radius: 2px;
    color: #fff;
}

.page.structural-units .filters li.link {
    text-transform: uppercase;
    padding: 0 6px;
}

.page.structural-units .filters li.link.active {
    text-decoration: underline;
    cursor: pointer;
    color: #002561;
}

.page.structural-units .filters li.link.active:hover {
    background-color: #9eb0cc;
    border-radius: 2px;
}

.page.structural-units .filters li.link.inactive {
    color: #9eb0cc;
}

.page.structural-units .filters li.link.current, .page.structural-units .filters li.link.current:hover {
    background-color: #002561;
    border-radius: 2px;
    color: #fff;
}


/* list */

.page.structural-units .units-list {
    margin-bottom: 0;
}

.page.structural-units .units-list li {
    margin-top: 40px;
    margin-bottom: 30px;
    padding-right: 0;
    list-style: none;
    display: block;
    left: 0;
}

.page.structural-units .units-list li .details {
    position: relative;
    padding-left: 24px;
    font-weight: 300;
}

.page.structural-units .units-list li .details p {
    margin-bottom: 6px;
}

.page.structural-units .units-list li .details p:first-child {
    margin-top: -4px;
}

.page.structural-units .units-list li .details a {
    text-decoration: underline;
}

.page.structural-units .units-list li .line {
    width: 4px;
    background-color: #ccc;
    position: absolute;
    bottom: 4px;
    top: 4px;
    left: 0;
}


/* = Theses Page
---------------------------------------------------- */

.page.theses .thesis {
    background-color: #fff;
    padding: 18px 20px 15px;
    margin-top: 20px;
}

.page.theses .thesis:first-child {
    margin-top: 40px;
}

.page.theses .thesis .defence-date {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 12px;
    display: block;
    color: #999;
}

.page.theses .thesis .author {
    margin-bottom: 5px;
    font-weight: 300;
}

.page.theses .thesis .theme {
    margin-bottom: 15px;
}

.page.theses .thesis a {
    text-decoration: underline;
    font-weight: 300;
    color: #999;
}

.page.theses .thesis a:hover {
    color: #9eb0cc;
}


/* = Single Thesis
---------------------------------------------------- */

.page.thesis article h2 {
    margin-bottom: 10px;
    line-height: 26px;
    font-size: 22px;
}

.page.thesis article .row {
    margin-bottom: 30px;
}

.page.thesis article .row p {
    margin-bottom: 16px;
}

.page.thesis article .row.contacts span {
    display: block;
}

.page.thesis article .row.opponents span, .page.thesis article .row.opponents strong {
    margin-bottom: 2px;
    display: block;
}


/* = Conferences Page
---------------------------------------------------- */

.page.conferences .conference {
    background-color: #fff;
    padding: 18px 20px 15px;
    margin-top: 20px;
}

.page.conferences .conference:first-child {
    margin-top: 40px;
}

.page.conferences .conference-header {
    position: relative;
    cursor: pointer;
}

.page.conferences .conference-header .dates {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 12px;
    display: block;
    color: #999;
}

.page.conferences .conference-header .subtitle {
    margin-bottom: 5px;
    font-weight: 300;
}

.page.conferences .conference-header .title {
    margin-bottom: 0;
}

.page.conferences .conference-header .new {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    border-radius: 2px;
    background-color: #f66363;
    display: inline-block;
    position: absolute;
    padding: 0 10px;
    top: -3px;
    right: 0;
}

.page.conferences .conference-details {
    padding-top: 15px;
    display: none;
}

.page.conferences .conference-details p, .page.conferences .conference-details ol, .page.conferences .conference-details ul {
    margin-bottom: 10px;
}

.page.conferences .conference-details .label {
    margin-bottom: 5px;
    font-weight: 700;
}

.page.conferences .conference-details .link a {
    text-decoration: underline;
    font-weight: 300;
    color: #999;
}

.page.conferences .conference-details .link a:hover {
    color: #9eb0cc;
}


/* = Map Page
---------------------------------------------------- */

.page.map .tabs-switcher {
    margin-bottom: 25px;
    padding-left: 0;
}

.page.map .tabs-switcher li {
    padding-right: 0;
    margin-right: 10px;
    margin-bottom: 5px;
    list-style: none;
    float: left;
    left: 0;
}

.page.map .tabs-switcher li:last-child {
    margin-right: 0;
}

.page.map .tabs-switcher li a {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 3px;
    padding: 2px 10px;
}

.page.map .tabs-switcher li.ui-tabs-active a {
    background-color: #002561;
    color: #fff;
}

.page.map .tab {
    display: none;
}

.page.map .tab.active {
    display: block;
}

.page.map .google-map {
    margin-bottom: 15px;
    height: 540px;
    width: 100%;
}

.page.map .units-list {
    margin-bottom: 0;
}

.page.map .units-list li {
    margin-top: 40px;
    margin-bottom: 30px;
    padding-right: 0;
    list-style: none;
    display: block;
    left: 0;
}

.page.map .units-list li .details {
    position: relative;
    padding-left: 24px;
    font-weight: 300;
}

.page.map .units-list li .details p {
    margin-bottom: 6px;
}

.page.map .units-list li .details p:first-child {
    margin-top: -4px;
}

.page.map .units-list li .details a {
    text-decoration: underline;
}

.page.map .units-list li .link {
    text-decoration: underline;
    cursor: pointer;
    color: #999;
}

.page.map .units-list li .link:hover {
    cursor: #9eb0cc;
}

.page.map .units-list li .line {
    width: 4px;
    background-color: #ccc;
    position: absolute;
    bottom: 4px;
    top: 4px;
    left: 0;
}


/* = Section Navigation
---------------------------------------------------- */

.section-navigation {
    margin-bottom: 20px;
}

.section-navigation > ul {
    padding: 0;
}

.section-navigation li {
    line-height: 20px;
    list-style: none;
}

.section-navigation li a {
    padding: 7px 30px;
    display: block;
}

.section-navigation li a:hover {
    background-color: #9eb0cc;
    color: #002561;
}

.section-navigation li.current > a {
    background-color: #5674a5;
    color: #f8f8f8;
}

.section-navigation li li a {
    padding-left: 45px;
}

.section-navigation-background {
    width: 280px;
    background-color: #f8f8f8;
    position: absolute;
    display: block;
    z-index: -1;
    bottom: 0;
    left: 0;
    top: 0;
}


/* = Adjacent Pages Navigation
---------------------------------------------------- */

.adjacent-pages-navigation {
    margin-top: 15px;
}

.page.sidebar-left .adjacent-pages-navigation {
    margin-left: 300px;
}

.page.sidebar-right .adjacent-pages-navigation {
    margin-right: 300px;
}

.adjacent-pages-navigation .link {
    width: 50%;
}

.adjacent-pages-navigation .link.prev {
    float: left;
}

.adjacent-pages-navigation .link.next {
    text-align: right;
    float: right;
}

.adjacent-pages-navigation .link a {
    display: inline-block;
    position: relative;
}

.adjacent-pages-navigation .link.prev a {
    padding-right: 10px;
    padding-left: 40px;
}

.adjacent-pages-navigation .link.next a {
    padding-right: 40px;
    padding-left: 10px;
}

.adjacent-pages-navigation .link i {
    width: 20px;
    height: 14px;
    background-image: url(lib/images/pagination-arrows.png);
    position: absolute;
    display: block;
    top: 5px;
}

.adjacent-pages-navigation .link.prev i {
    left: 0;
}

.adjacent-pages-navigation .link.prev:hover i {
    background-position: 0 -15px;
}

.adjacent-pages-navigation .link.next i {
    background-position: -21px 0;
    right: 0;
}

.adjacent-pages-navigation .link.next:hover i {
    background-position: -21px -15px;
}


/* = Pagination
---------------------------------------------------- */

.pagination {
    font-size: 14px;
    line-height: 28px;
    background-color: #fff;
    padding: 16px 20px;
    margin-top: 20px;
}

.pagination a, .pagination span {
    display: block;
    float: left;
}

.pagination .link, .pagination .current {
    text-decoration: underline;
}

.pagination .link.page {
    margin-right: 4px;
    padding: 0 5px;
}

.pagination .link.prev, .pagination .link.next {
    padding: 7px 0;
    width: 20px;
}

.pagination .link.prev {
    margin-right: 10px;
}

.pagination .link.next {
    margin-left: 6px;
}

.pagination .link.prev i, .pagination .link.next i {
    width: 20px;
    height: 14px;
    background-image: url(lib/images/pagination-arrows.png);
    display: block;
}

.pagination .link.prev:hover i {
    background-position: 0 -15px;
}

.pagination .link.prev.disabled i {
    background-position: 0 -30px;
}

.pagination .link.next i {
    background-position: -21px 0;
}

.pagination .link.next:hover i {
    background-position: -21px -15px;
}

.pagination .link.next.disabled i {
    background-position: -21px -30px;
}

.pagination .current {
    padding: 0 10px;
    margin-right: 4px;
    border-radius: 2px;
    background-color: #002561;
    color: #fff;
}

.pagination .dots {
    margin-right: 4px;
    color: #002561;
}


/* = Sidebar
---------------------------------------------------- */

.widget {
    background-color: #fff;
    padding: 25px 30px 20px;
    margin-bottom: 20px;
}

.sidebar.compact .widget:nth-child(n+2) {
    display: none;
}

.widget-title {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #002561;
}

.widget p {
    margin-bottom: 10px;
}

.widget ul, .widget ol {
    padding-left: 20px;
    margin: 10px 0;
}

.widget li {
    margin-bottom: 2px;
}


/* = Site Footer
---------------------------------------------------- */

.site-footer {
    z-index: 20;
}


/* bottom partners */

.site-footer-top {
    margin-top: 60px;
}

.bottom-partners {
    margin: 0 -10px;
}

.bottom-partners div {
    width: 25%;
    padding: 0 10px;
    box-sizing: border-box;
    display: block;
    float: left;
}

.bottom-partners div a {
    display: block;
}

.bottom-partners div img {
    max-width: 100%;
    display: block;
}


/* navigation menus */

.site-footer-main {
    margin-top: 40px;
}

.site-footer-main .menu {
    margin: 0 -10px;
}

.site-footer-main .menu li {
    font-size: 16px;
    line-height: 19px;
    list-style: none;
    display: block;
}

.site-footer-main .menu > li {
    width: 25%;
    padding: 0 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    float: left;
}

.site-footer-main .menu > li:nth-child(4n+1) {
    clear: left;
}

.site-footer-main .menu li span {
    font-weight: 700;
    color: #002561;
}

.site-footer-main .menu li span i {
    display: none;
}

.site-footer-main .menu li ul {
    margin-top: 8px;
}

.site-footer-main .menu li li {
    padding-bottom: 7px;
    font-weight: 300;
}


/* footer bottom */

.site-footer-bottom {
    padding-top: 20px;
    padding-bottom: 30px;
    line-height: 21px;
    font-weight: 300;
    font-size: 12px;
    color: #002561;
}

.site-footer-bottom .columns {
    margin: 0 -10px;
}

.site-footer-bottom .columns div {
    box-sizing: border-box;
}


/* left column */

.site-footer-bottom .left-column {
    width: 75%;
    float: left;
}

.site-footer-bottom .bottom-logo {
    width: 33%;
    padding: 0 10px;
    float: left;
}

.site-footer-bottom .bottom-logo a {
    width: 0;
    height: 42px;
    margin-top: 10px;
    padding-left: 183px;
    overflow: hidden;
    display: block;
}

.site-footer-bottom .bottom-logo.uk a {
    background-image: url(lib/images/logos/uk/bottom.png);
}

.site-footer-bottom .bottom-logo.en a {
    background-image: url(lib/images/logos/en/bottom.png);
}

.site-footer-bottom .copyrights, .site-footer-bottom .contacts {
    overflow: hidden;
    padding: 0 10px;
}

.site-footer-bottom .contacts a {
    display: block;
}


/* right column */

.site-footer-bottom .right-column {
    padding: 0 10px;
    text-align: right;
    float: right;
}

.site-footer-bottom .designed {
    padding-top: 21px;
}

.site-footer-bottom .designed a {
    width: 70px;
    height: 24px;
    margin-left: 5px;
    background-image: url(lib/images/partners/epam.png);
    vertical-align: middle;
    display: inline-block;
}


/* = Miscellaneous
---------------------------------------------------- */

.page-shadow {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    display: none;
    z-index: 10;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.phone-directory-wrap {
    overflow-x: scroll;
    max-width: 100%;
}
