/*------------------------------------*\
    Material style background
\*------------------------------------*/

.card {
    margin:             10px;
    padding:            1px 6px;
    border-radius:      2px;
    font-size:          12px;
    background-color:   #fff;
    border:             2px solid #fff;
    box-shadow:         0 2px 6px rgba(0, 0, 0, 0.3);
}


/*------------------------------------*\
    Button with only icon
    (university, my location)
\*------------------------------------*/

.btn-glyph {
    width:              29px;
    height:             29px;
    margin:             0 10px 5px 0;
    border-radius:      2px;
    box-shadow:         0 1px 4px rgba(0, 0, 0, 0.3);
    background:         #fff no-repeat center;
    cursor:             pointer;
}



/*------------------------------------*\
    Side menu select box 
    with autocomplete.
    Override default chosen style.
\*------------------------------------*/

.markers-select {
    margin: 0 12px 10px 12px;
    max-width: 220px;
}

    .markers-select ul li {
        left: 0;
    }
    
    .markers-select > div > a {
        border-radius: 2px !important;
        background: white !important;
    }
    
    
    
/*------------------------------------*\
    Slide menu trigger button.
\*------------------------------------*/

.dr-trigger {
    display: none;
}

    .dr-trigger + label {
        padding:                2px;
        padding-left:           40px;
        padding-right:          10px;
        font-size:              12px;
        font-weight:            700;
        letter-spacing:         1px;
        font-family:            Roboto, Arial, sans-serif;
        color:                  #212121;
        text-transform:         uppercase;
        position:               relative;
        display:                inline-block;
        cursor:                 pointer;
                -o-transition:     padding 0.2s ease;
            -moz-transition:     padding 0.2s ease;
        -webkit-transition:     padding 0.2s ease;
                transition:     padding 0.2s ease; 
    }

        .dr-trigger + label .dr-icon {
            top:                0;
            left:               0;
            margin:             5px 10px;
            padding-left:       40px;
            min-height:         32px;
            position:           absolute;
            display:            inline-block;
            background:         url('../img/glyph-menu.png') no-repeat;
                 -o-transition: transform 0.3s ease;
               -moz-transition: transform 0.3s ease;
            -webkit-transition: transform 0.3s ease;
                    transition: transform 0.3s ease;
        }

    .dr-trigger:checked + label {
        padding-left:           90px;
    }

        .dr-trigger:checked + label .dr-icon {
            margin:             0;
            margin-left:        10px;
            background-image:   url('../img/glyph-arrow.png');
                 -o-transform:  rotate(180deg);
                -ms-transform:  rotate(180deg);
               -moz-transform:  rotate(180deg);
            -webkit-transform:  rotate(180deg);
                    transform:  rotate(180deg);
        }
        
        

/*------------------------------------*\
    Slide menu side control 
\*------------------------------------*/

.dr-menu {
    font-size:      1.3em;
    line-height:    2.5;
}

    .dr-menu ul {
        opacity:        0;
        z-index:        0;
        pointer-events: none;
    }

    .dr-menu form {
        margin-top: 5px; 
        display:    none;
    }
    
.dr-menu-open {
    height: 100%;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.9);
         -o-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
}

    .dr-menu-open > div {
        padding-top: 12px;
    }

    .dr-menu-open form {
        display: block;
    }

    .dr-menu-open ul {
        opacity: 1;
        z-index: 200;
        pointer-events: auto;
    }



/*------------------------------------*\
    Marker checkboxes group 
    in side menu
\*------------------------------------*/

.marker-toggles {
    border: none;
}

    .marker-toggles ul {
        margin:          0;
        padding:         0;
        width:           auto;
        position:        relative;
        list-style:      none;
        list-style-type: none;
    }

        .marker-toggles ul li {
            left:          10px;
            margin-bottom: 10px;
        }

            .marker-toggles ul li label {
                width:                  100%;
                color:                  #000;
                display:                inline-block;
                position:               relative;
                min-height:             37px;
                line-height:            37px;
                padding-left:           10px;
                background-repeat:      no-repeat;
                background-position:    left top;
                -moz-box-sizing:        border-box;
                -webkit-box-sizing:     border-box;
                        box-sizing:     border-box;
            }

            .marker-toggles ul li input {
                margin-left: 35px;
            }
            


/*------------------------------------*\
    Routes selection menu 
    on routes:checked
\*------------------------------------*/

.routes-control {
    min-width:      100px;
    max-width:      192px;
    line-height:    20px;
    display:        none;
    -webkit-box-sizing:    border-box;
       -moz-box-sizing:    border-box;
            box-sizing:    border-box;
}

 @media (max-width: 720px) {
   .routes-control {
        max-width:      148px;
    }
}

    .routes-control  > .routes-title {
        margin:     10px 0;
        font-size:      15px;
        font-weight:    500;
        color:          #222222;
    }

.routes-group {
    float: left;
    margin: 10px 0;
}

    .routes-group > .routes-group-title {
        font-size:      14px;
        font-weight:    500;
        margin-bottom:  4px;
    }
    
    .routes-group input[type=checkbox] {
    display: none;
    }
    
        .routes-group input[type=checkbox]:checked + label {
            background: rgb(235, 140, 129);
            color:      white;
        }
        
        .routes-group input[type=checkbox] + label:hover {
            background: #CFD8DC;
        } 

.route {
    margin:         2px;
    white-space:    nowrap;
    float:          left;
}

    .route label {
        min-width:      40px;
        font-size:      12px;
        font-weight:    600;
        text-align:     center;
        display:        inline-block;
        background:     #CFD8DC;
        color:          #222222;
        transition:     all 0.3s ease 0s;
    }

/*------------------------------------*\
    Marker icons 
\*------------------------------------*/

.glyph-mylocation   { background-image: url('../img/glyph-mylocation.png'); }
.glyph-university   { background-image: url('../img/glyph-university.png'); }

.residences         { background-image: url('../img/residence.png'); }
.faculties          { background-image: url('../img/faculty.png'); }
.libraries          { background-image: url("../img/book.png"); }
.canteens           { background-image: url('../img/canteen.png'); }
.parkings           { background-image: url('../img/parking.png'); }
.pcrooms            { background-image: url('../img/computers.png'); }
.clinics            { background-image: url('../img/hospital.png'); }
.museums            { background-image: url('../img/museums.png'); }
.archive            { background-image: url('../img/archive.png'); }
.routes             { background-image: url('../img/routes.png'); }
.stuff              { background-image: url('../img/freetime.png'); }