#lnu-map {
    width: 100%;
    height: 650px;
}

div.info-window {
    max-width: 200px;
    min-width: 100px;
}

div.info-window .title {
    font-size: 14px;
    font-weight: 500;
}

div.info-window .delim {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 5px;
}

div.info-window .content {
    font-size: 13px;
}